# Mengabaikan file data berukuran masif
*.csv
*.parquet

# Mengabaikan virtual environment
airflow-env/
.venv/
.uv-cache/

# Mengabaikan file sistem dan cache Python
.DS_Store
__pycache__/
*.pyc

# Mengabaikan environment variables (berisi kredensial)
.env
.env.local

# Mengabaikan node_modules
node_modules/

# Mengabaikan file build
dist/
